@tailwind base;
@tailwind components;
@tailwind utilities;

.transit {
	@apply ease-linear transition-all duration-300;
}

body {
	@apply bg-slate-300;
}

body * {
	@apply transit;
}

.nsb::-webkit-scrollbar {
	display: none !important;
}

.nsb {
	-ms-overflow-style: none !important;
	scrollbar-width: none !important;
}

.card {
	@apply bg-white/50 p-5 rounded-2xl shadow-lg;
}

input,
textarea {
	@apply rounded-2xl border-[1.5px] border-gray-500/50 px-2 py-1 focus:border-x-0 focus:border-t-0 focus:border-b-[3px] focus:rounded-none focus:!outline-none focus:bg-transparent duration-150;
}

input.search {
	background-image: url('https://www.w3schools.com/css/searchicon.png');
	background-position: 7.5px 5px;
	background-repeat: no-repeat;
	@apply pl-8 focus:bg-[top_7.5px_left_-22px] focus:bg-opacity-0 focus:overflow-hidden focus:pl-2;
}

.pagination-btn {
	@apply bg-blue-500 rounded-xl w-[30px] h-[30px] flex flex-col justify-center text-white hover:bg-teal-500;
}

.pagination-btn.active {
	@apply !bg-gray-500  cursor-not-allowed;
}

.input-container {
	@apply w-full flex flex-col gap-0 relative;
}

.input-container label {
	@apply text-[0.8rem] ml-2;
}

.btn {
	@apply bg-blue-500 text-white hover:bg-teal-500 px-3 py-1.5 rounded-xl;
}

.btn-group {
	@apply flex flex-row w-full;
}

.btn-group button {
	@apply bg-blue-500 text-white py-1 px-3 first:rounded-l-2xl last:rounded-r-2xl hover:bg-cyan-500;
}

.btn-group button.active {
	@apply bg-pink-500;
}

.tag-btn {
	@apply text-[0.7rem] pl-2 bg-blue-500 rounded-xl text-white flex flex-row hover:bg-teal-500;
}

.tag-btn span {
	@apply my-auto;
}

.collapsible-row-slot,
.collapsible-row-slot div {
	@apply flex flex-row gap-5 first:w-full;
}
